// I got the blues, man.
// 1 --> 5, lightest --> darkest.

$bg: #fff;
$color-blue: #3399CC;
$color-blue-1: #E8F8FF;
$color-blue-2: #3399CC;
$color-blue-3: #0a699a;
$color-white: #fff;
$color-black: #000;
$color-slate: #5E5E5E;
$border-color: #e5e5e5;


$link-color: #3399CC;
$link-color-visited: #609;
$text-color: #000;
$text-color-subdued: #5E5E5E;
$button-color: #000;

/* Dark mode colours */

$bg-dark: #1C1F2A;
$border-color-dark: #35373c;
$link-color-dark: #60caff;
$link-color-visited-dark: #c17ec5;
$text-color-dark: #fff;
$text-color-subdued-dark: #fff;
$button-color-dark: #167ac6;

@mixin backgroundColor() {
  background: $bg;

  &.darkMode{
    background: $bg-dark;
  }
}

@mixin borderColor() {
  border-color: $border-color;

  .darkMode & {
    border-color: $border-color-dark;
  }
}

@mixin linkColor() {
  color: $link-color;
  &:visited {
    color: $link-color-visited;
  }
  
  .darkMode & {
    color: $link-color-dark;

    &:visited {
      color: $link-color-visited-dark;
    }
  }
}

@mixin textColor() {
  color: $text-color;

  .darkMode & {
    color: $text-color-dark;
  }
}

@mixin textSubduedColor() {
  color: $text-color-subdued;

  &.darkMode {
    color: $text-color-subdued-dark;
  }
}

@mixin headerLinksColor() {
   &, &:visited {
    color: $link-color;
   }

   .darkMode & {

     &, &:visited {
       color: $link-color-dark;
     }
   }
}

@mixin buttonColor() {
  background: $button-color;

  &:hover {
    background: rgba($button-color, 0.5);
  }

  .darkMode & {
    background: $button-color-dark;
    
    &:hover {
      background: rgba($button-color-dark, 0.8);
    }
  }
}

@mixin hrColor() {
  background-color: $border-color;

  .darkMode & {
    background-color: $border-color-dark;
  }
}

@mixin formsBackgroundColor() {
  background: $bg;

  .darkMode & {
    background: $bg-dark;
  }
}

@mixin placeholderBackgroundColor() {
  background: rgba(0, 0, 0, 0.10);

  .darkMode & {
    background: rgba(255, 255, 255, 0.15);
  }
}