$base-font-family: 'Droid Serif', sans-serif;
$base-font-size:   18px; //24px
$small-font-size:  14px;

$base-line-height: 1.8em;
$spacing-unit:     40px;
$spacing-unit-halved: $spacing-unit / 2;
$spacing-unit-doubled: $spacing-unit * 2;

