%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
   }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.lazy-load {
  transition: opacity 0.6s;
  opacity: 0;
}

.lazy-load.is-loaded {
  opacity: 1;
  height: auto;
}

.figure-is-loaded {
  background: none !important;
}