.footer {
  text-align: center;
  padding-bottom: $spacing-unit;

  @include tablet-and-up {
    padding-bottom: $spacing-unit-doubled;
  }
}

.footer__link {
  display: inline-block;
  padding: 0 $spacing-unit-halved / 2;
  color: $color-black;
  font-size: 0.8em;
}

.social-links {
  margin-bottom: $spacing-unit;
}

.dark-mode-wrapper {
  display: flex;
  justify-content: center;

  button {
    border: 1px solid;
    font-size: 0.8em;
    padding: 10px;
    background: transparent;
    @include borderColor();
    margin: 0;
    cursor: pointer;
  }

  .light-button {
    background: rgba($color-white, 0.75);
    border-radius: 10px 0 0 10px;
    border-right: none;
  }

  .dark-button {
    border-radius: 0 10px 10px 0;
    border-left: none;
    background-color: $bg-dark;
    color: #fff;
  }
}