textarea {
  width: 100%;
}

.comments {
  margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit;
  border-bottom: 1px solid $border-color;

  @include tablet-and-up {
    margin-bottom: $spacing-unit;
  }
}

.comments__list {
  list-style-type: none;
  margin: 0;
}

.comment__list-item {
  display: flex;
}

.comment__gravatar {
  @include phone-to-tablet {
    display: none;
  }

  @include phone-and-up {
    flex: 1 0 80px;
    margin-right: $spacing-unit;
  }
}

.comment__metadata {
  margin-bottom: $spacing-unit-halved;
  line-height: 1;
}

.comment__date {
  font-size: $small-font-size;
}
