%form-reset {
  font-family: $base-font-family;
  font-size: $base-font-size;
}

.comments {
  @extend %section-spacing;
}

.comments__list {
  list-style-type: none;
  margin: 0;
}

.comment__list-item {
  display: flex;
}

.comment__gravatar {
  @include phone-to-tablet {
    display: none;
  }

  @include phone-and-up {
    flex: 1 0 80px;
    margin-right: $spacing-unit;
  }
}

.comment__metadata {
  margin-bottom: $spacing-unit-halved;
  line-height: 1;
}

.comment__date {
  font-size: $small-font-size;
}

.comment__input-wrapper {
  display: flex;
  flex-direction: column;
}

.comment__input-label {
  font-size: $small-font-size;
  margin-bottom: $spacing-unit-halved / 2;
}

.comment__input-text, .comment__input-textarea {
  border: 1px solid $border-color;
  margin-bottom: $spacing-unit-halved;
  padding: $spacing-unit-halved / 2;
}

.comment__input-button {
  @extend %form-reset;

  display: inline-block;
  max-width: 100%;
  background: $color-black;
  color: $color-white;
  padding: $spacing-unit-halved;
  border: none;
  border-radius: $border-radius;

  &:hover {
    background: rgba($color-black, 0.5);
    cursor: pointer;
  }

  @include tablet-and-up {
    align-self: flex-end;
    max-width: 250px;
  }
}

.search-bar {
  @extend %form-reset;
  text-align: center;
}

.search-bar input[type="submit"] {
  @extend .comment__input-button;
  padding: $spacing-unit / 4;
}

.search-bar input[type="text"] {
  @extend .comment__input-text;
}
