$logo-height: 130px;
$wrapper-width: 800px;

/*============================================================================
  Content Area
 ==============================================================================*/

.content__area {
  width: 100%;
}

.content__wrapper {
  max-width: $wrapper-width;
  margin: 0 auto;
  padding: 0 $spacing-unit;
  @extend %clearfix;
}
