$logo-height: 130px;
$wrapper-width: 700px;
$wrapper-width-large: 800px;

/*============================================================================
  Content Area
 ==============================================================================*/

.content__area {
  width: 100%;
}

.content__wrapper {
  max-width: $wrapper-width;
  margin: 0 auto;
  padding: 0 $spacing-unit-halved;

  &:focus {
    outline: none;
  }

  @include phone-and-up {
    padding: 0 $spacing-unit;
  }

  @include desktop {
    max-width: $wrapper-width-large;
  }

  @extend %clearfix;
}
