.post {
  @extend %section-spacing;

  /** Make dividers inside posts skinnier than section dividers. **/
  hr {
    max-width: 20%;
    margin: 0 auto $spacing-unit;
  }

  &:last-child {
    margin: 0;
  }
}

.post__title {
  margin-bottom: 0;
  text-align: center;
}

.post__title--bottom-margin {
  margin-bottom: $spacing-unit;

  @include tablet-and-up {
    margin-bottom: $spacing-unit-doubled;
  }
}

.post__metadata {
  margin-bottom: $spacing-unit;
  font-size: $small-font-size;
  text-align: center;

  @include tablet-and-up {
    margin-bottom: $spacing-unit-doubled;
  }

  > p {
    margin: 0;
  }
}

.post__footer {
  text-align: right;
}

.post__pagination {
  text-align: center;
  @extend %section-spacing;

}
