.post {
  @extend %section-spacing;

  /** Make dividers inside posts skinnier than section dividers. **/
  hr {
    max-width: 20%;
    margin: 0 auto $spacing-unit;
  }

  &:last-child {
    margin: 0;
  }

  a {
    text-decoration: underline;
  }

  a:hover, a:focus {
    color: $color-blue-3;
    text-decoration: underline;
  }

  figcaption {
    font-size: $small-font-size;
    text-align: center;
    padding-top: $spacing-unit / 4;
    margin-bottom: $spacing-unit;
    line-height: 1.4rem;
  }
}

.post__title {
  margin-bottom: 0;
  text-align: center;
  font-size: 2em;
  line-height: $h1-line-height;
  text-decoration: none;
  @include textColor();
}

.post__title--bottom-margin {
  margin-bottom: $spacing-unit;

  @include tablet-and-up {
    margin-bottom: $spacing-unit-doubled;
  }
}

.post__metadata {
  margin-bottom: $spacing-unit;
  font-size: $small-font-size;
  text-align: center;

  @include tablet-and-up {
    margin-bottom: $spacing-unit-doubled;
  }

  > p {
    margin: 0;
  }
}

.post__thumbnail {
  margin-bottom: $spacing-unit;
}

.post__excerpt {
  margin-bottom: $spacing-unit;
}

.post__footer {
  text-align: right;
}

.post__pagination {
  text-align: center;
  padding-bottom: $spacing-unit;
  margin-bottom: $spacing-unit;
  border-bottom: 1px solid;
  @include borderColor();
}

.emoji {
  border: 0;
  width: 24px;
  height: 24px;
  vertical-align: text-top;
}

.aligncenter {
  text-align: center;
}

figure {
  width: 100%;
  border-radius: 3px;
  @include placeholderBackgroundColor();
}

figure > img {
  display: inline-block;
}

.alignwide {
  margin-left: calc(25% - 25vw);
  margin-right: calc(25% - 25vw);
  width: auto;
  max-width: 1000%;
  text-align: center;
}

.alignleft {
  text-align: center;

  @include tablet-and-up {
    float: left;
    margin-right: $spacing-unit;
    margin-bottom: 0;

    > img,
    figcaption {
      margin-bottom: 0;
    }
  }
}

.alignright {
  text-align: center;
  
  @include tablet-and-up {
    float: right;
    margin-left: $spacing-unit;
    margin-bottom: 0;

    > img,
    figcaption {
      margin-bottom: 0;
    }
  }
}

.clear {
  clear: both;
}

.post-list {
  margin: 0;
}

.post-list-item {
  list-style: none;
}

.post-list-item__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit;
  border-bottom: 1px solid;
  @include borderColor();
}

.post-list-item__thumbnail {
  width: 100px;
  flex: 0 0 auto;
  margin-right: $spacing-unit-halved;

  @include tablet-and-up {
    width: 150px;
    margin-right: $spacing-unit;
  }
}

.post__metadata--list {
  margin-bottom: 0;
  flex: 1 1 100%;
  text-align: left;

  .post__title {
    font-size: 1.6em;
    text-align: left;

    @include tablet-and-up {
      font-size: 2em;
    }
  }
}

.is-type-video {
  .wp-block-embed__wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
  }

  &.alignwide {
    .wp-block-embed__wrapper {
      padding-bottom: calc(56.25% + 14vw);
      max-width: 1000%;
    }
  }
}
