/*============================================================================
  Legacy CSS
    * Shameful CSS to support old posts
==============================================================================*/

.sub {
  font-size: $small-font-size;
  text-align: center;
  margin: -$spacing-unit 0 $spacing-unit;
}

.wp-smiley {
  border: none;
}

.embed-container {
  margin-bottom: $spacing-unit;
}

.addthis_sharing_toolbox {
  text-align: center;
}
